/*===================================================
                    Global CSS
===================================================*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

/*===================================================
                    Header CSS
===================================================*/
header {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.3) 100%), url("../images/Banner Image.png");
    margin: 50px auto;
    display: flex;
    align-items: center;
}

header .container .header .headerContents {
    text-align: center;
    width: fit-content;
    margin: auto;
}

header .container .header .headerContents h4 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .container .header .headerContents h2 {
    width: 632px;
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/*===================================================
                Offer Section CSS
===================================================*/
main .container .offerSection {
    text-align: center;
    margin-top: 120px;
}

main .container .offerSection h1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main .container .offerSection h4 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 48px 0px 16px 0;
}

main .container .offerSection h2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 0px 48px 0px;
}

main .container .offerSection img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

/*===================================================
                Party Section CSS
===================================================*/
main .party {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    margin: 120px auto;
    display: flex;
    align-items: center;
}

main .party .container .partySection {
    text-align: left;
}

main .party .container .partySection h2 {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

main .party .container .partySection p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

main .party .container .partySection button {
    padding: 16px 32px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

/*===================================================
              Event Venue Section CSS
===================================================*/
main .event {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
    display: flex;
    align-items: center;
    text-align: center;
}

main .event .container .eventVenue p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

main .event .container .eventVenue p .venue-head {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

main .event .container .eventVenue button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 64px 0px 64px 0px;
}

/*===================================================
              Coming Soon Section CSS
===================================================*/
main .comingSoon {
    height: fit-content;
    flex-shrink: 0;
    margin: 120px auto;
    display: flex;
    align-items: center;
}

main .comingSoon .container .comingSoonContainer {
    width: 1320px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

main .comingSoon .container .comingSoonContainer .soonLeft {
    max-width: 533.34;
}

main .comingSoon .container .comingSoonContainer .soonLeft h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main .comingSoon .container .comingSoonContainer .soonLeft h2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

main .comingSoon .container .comingSoonContainer .soonLeft p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0px 22px 0px;
}

main .comingSoon .container .comingSoonContainer .soonMiddle {
    width: 533.34px;
    height: 533.34px;
    background-image: url(../images/Ellipse\ 2.png);
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .comingSoon .container .comingSoonContainer .soonMiddle img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

main .comingSoon .container .comingSoonContainer .soonRight {
    width: 533.34px;
    display: flex;
    justify-content: right;
}

main .comingSoon .container .comingSoonContainer .soonRight .rightContents {
    width: fit-content;
}

main .comingSoon .container .comingSoonContainer .soonRight h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main .comingSoon .container .comingSoonContainer .soonRight p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0px 48px 0px;
}

main .comingSoon .container .comingSoonContainer .soonRight img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

/*===================================================
            Holidays Sell Section CSS
===================================================*/
main .holidaySell {
    text-align: center;
}

main .holidaySell .container .holidaySellContainer h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main .holidaySell .container .holidaySellContainer h2 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 16px 0px 28px 0px;
}

main .holidaySell .container .holidaySellContainer h2 .holiday-color {
    color: #F00;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

main .holidaySell .container .holidaySellContainer p {
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
    display: inline-flex;
}

/*===================================================
            Holidays Sell Section CSS
===================================================*/
main .fDiscount {
    width: 1320px;
    height: 662px;
    flex-shrink: 0;
    margin: 120px auto;
    background-image: url(../images/Group\ 44.png), url(../images/Group-75.png), url(../images/Rectangle\ 1.png), url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: 740px 50px, left, top right, bottom;
}

/*===================================================
            Portfolio Section CSS
===================================================*/
main .portfolio .container .portfolioContainer h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main .portfolio .container .portfolioContainer h2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 16px 0px 22px 0px;
}

main .portfolio .container .portfolioContainer p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

main .portfolio .container .portfolioContainer .products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*===================================================
            Newsletter Section CSS
===================================================*/
main .newsletter {
    text-align: center;
    margin: 120px auto;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

main .newsletter .container .newsletterContainer img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-top: 60px;
}

main .newsletter .container .newsletterContainer h2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 40px 0px 22px 0px;
}

main .newsletter .container .newsletterContainer p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0px auto 48px auto;
}

main .newsletter .container .newsletterContainer .emailSubscribe {
    display: flex;
    width: 648px;
    margin: auto;
}

main .newsletter .container .newsletterContainer .emailSubscribe input {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    border: #fff;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px 0px 20px;
}

main .newsletter .container .newsletterContainer .emailSubscribe button {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    transform: translate(-210px, 0px);
}

/*===================================================
            footer Section CSS
===================================================*/
footer {
    background-color: #070211;
    color: #FFF;
    height: 609px;
    flex-shrink: 0;
}

footer .footer .container .footerContainer .horizontalLine {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

footer .footer .container .footerContainer .upperFooterContainer {
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
}

footer .footer .container .footerContainer .upperFooterContainer .leftUpperFooter p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}



footer .footer .container .footerContainer .upperFooterContainer .rightUpperFooter .callerIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .footer .container .footerContainer .upperFooterContainer .rightUpperFooter .callerIcon p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

footer .footer .container .footerContainer .upperFooterContainer .rightUpperFooter .callerIcon img {
    height: 30px;
    width: 30px;
}

footer .footer .container .footerContainer .upperFooterContainer .rightUpperFooter .webIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .footer .container .footerContainer .upperFooterContainer .rightUpperFooter .webIcon p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

footer .footer .container .footerContainer .upperFooterContainer .rightUpperFooter .webIcon img {
    height: 30px;
    width: 30px;
}

footer .footer .container .footerContainer .midFooterContainer .icons {
    width: fit-content;
    margin: 48px auto;
}

footer .footer .container .footerContainer .lowerFooterContainer {
    display: flex;
    justify-content: space-between;
}

footer .footer .container .footerContainer .lowerFooterContainer .leftLowerFooterContainer p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

footer .footer .container .footerContainer .lowerFooterContainer .rightLowerFooterContainer p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

/*===================================================
    All CSS Property Completed at january 8th 4 AM
            Took 7 PM to 4 AM total 9h :')
    CSS and HTML Code written by MD SABBIR AL MAMON
        DONE AND DUSTED FINALLY I CAN SLEEP :)
===================================================*/